@use "../config/variaveis.scss";

#cardapio{
    background-color: variaveis.$corFundo;
}

.nav-cardapio{
    .nav-link {
        color: variaveis.$corBotao;
        
        &.active {
            background-color: variaveis.$corBotao;
            color: #fff;
        }

        &:hover {
            color: variaveis.$corBotaoHover;
        }
    }
    
}